body{
    font-family: Arial;
    background: linear-gradient(to right,#0b0034,#1ac7da);
    color:white;
    text-align:center;
}

h1{
    color:#960808;
}

img {
    width: 250px; height: 250px;
}

.perfil{
    margin-top:40px;
}

.fotoPerfil{
    width:200px;
    height:200px;
    border-radius:50%;
    border:3px solid #930007;
}

.container{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:40px;
}

.lista{
    width:300px;
}

.card{
    background:#4d0000;
    border-radius:10px;
    margin:20px;
    padding:15px;
}

.card img{
    width:100%;
    border-radius:8px;
}

.card h3{
    margin:10px 0;
}

.card p{
    font-size:14px;
    color:#ccc;
}








